body, div, ul, li, a, h1  {padding: 0; margin: 0; font-size: 100%;}
hr{
    clear:both;
}

.wrapper {
  max-width:960px;
  margin:0 auto;
  position:relative;
  padding: 0 20px;
}

header.nav-header{
    border:1px solid #f00;
}

/**
 * Site header
 */
.site-header {
  // border: 1px solid #424242;
  min-height: 55.95px;
  position: relative; }

.site-title {
  float: left; }
  /* On screens that are 600px or less, set the background color to olive */
@media screen and (max-width: 768px) {
    .site-title {
      padding-right: 45px; 
    }
}
    
.site-title h1{
   font-size: 26px;
   font-weight: 300;
}

.site-title a,.site-title a:visited{
    text-decoration:none;
    color: #424242;
}

.site-title p{
   font-size: 16px;
   font-style:italic;
}

.site-nav {
  position: absolute;
  top: 9px;
  right: 15px;
  z-index:100;
  // border: 1px solid #e8e8e8;
  border-radius: 5px;
  text-align: right;
  line-height: 54px; }
  .site-nav .nav-trigger {
    display: none; }
  .site-nav .menu-icon {
    float: right;
    width: 36px;
    height: 26px;
    line-height: 0;
    padding-top: 10px;
    text-align: center; }
    .site-nav .menu-icon > svg path {
      fill: #424242; }
  .site-nav label[for="nav-trigger"] {
    display: block;
    float: right;
    width: 36px;
    height: 36px;
    z-index: 2;
    cursor: pointer; }
  .site-nav input ~ .trigger {
    clear: both;
    display: none; }
  .site-nav input:checked ~ .trigger {
    display: block;
    padding-bottom: 5px; }
  .site-nav .page-link {
      font-size: 20px;
          font-weight:300;
    color: #111111;
    text-decoration:none;
    line-height: 1.5;
    display: block;
    padding: 5px 10px;
    margin-left: 20px; }
    .site-nav .page-link:hover{
          text-decoration:underline;
      }
    .site-nav .page-link:not(:last-child) {
      margin-right: 0; }
     /* Small devices (portrait tablets and large phones, 600px and up) */
  @media screen and (min-width: 768px) {
    .site-nav {
      position: static;
      float: right;
      border: none;
      background-color: inherit; }
      .site-nav label[for="nav-trigger"] {
        display: none; }
      .site-nav .menu-icon {
        display: none; }
      .site-nav input ~ .trigger {
          // border:1px solid #f00;
          margin:0;
          padding:0;
          
          display: block; }
      .site-nav .page-link {
          
          padding: 14px 10px;
          
          
        display: inline;
        margin-left: auto; }
      
        .site-nav .page-link:not(:last-child) {
          margin-right: 0; } }